<template>
  <div>
    <v-app-bar color="accent-4" dense dark>
      <v-container fluid>
        <v-row justify="center" align="center" class="navbar_main">
          <v-toolbar-items>
            <div style="padding: 25px">
              <router-link to="/">
                Home
              </router-link>
            </div>
          </v-toolbar-items>
          <v-toolbar-items
              v-for="category in categories"
              :key="category.id">
            <div style="padding: 25px">
              <router-link :to="{path: '/category', query: {id: category.id}}">{{ category.name }}</router-link>
            </div>
          </v-toolbar-items>
        </v-row>
      </v-container>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
      <v-menu left bottom>
        <!--        <template v-slot:activator="{ on, attrs }">
                  <v-btn
                      icon
                      v-bind="attrs"
                      v-on="on"
                  >
                    <v-icon>mdi-dots-vertical</v-icon>
                  </v-btn>
                </template>-->

        <v-list>
          <v-list-item
              v-for="n in 5"
              :key="n"
              @click="() => {}"
          >
            <v-list-item-title>Option {{ n }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

  </div>
</template>

<script>
export default {
  name: "HeaderAppBar",
  data() {
    return {
      categories: []
    }
  },
  mounted() {
    return this.axios.get("/category")
        .then(response => (this.categories = response.data))
  },
  methods: {
  }
}
</script>