<template>
  <v-app>
    <v-main>
      <HeaderAppBar/>
      <v-spacer></v-spacer>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import HeaderAppBar from "@/components/HeaderAppBar"

export default {
  name: 'App',

  components: {
    HeaderAppBar
  },

  data: () => ({
    //
  }),
}
</script>
